.squareShape{
    background-color: rgb(21, 21, 20);
    height: 6.25%;
    width:6.25%;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    

}




#container{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap:wrap;

    
}

